@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.eot");
  src: url("/fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Montserrat-Regular.woff2") format("woff2"),
    url("/fonts/Montserrat-Regular.woff") format("woff"),
    url("/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.eot");
  src: url("/fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Montserrat-Bold.woff2") format("woff2"),
    url("/fonts/Montserrat-Bold.woff") format("woff"),
    url("/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Montserrat";
    @apply bg-black min-h-screen text-white flex flex-col;
  }

  #root {
    @apply min-h-screen flex flex-col;
  }

  main {
    @apply flex flex-col;
  }

  h1,
  h2,
  h3 {
    @apply font-bold uppercase;
  }

  h2 {
    @apply text-xl;
  }

  main {
    @apply flex-1 flex flex-col;
  }

  .description ul {
    @apply list-disc pl-4;
  }

  section {
    @apply py-[25px] md:py-[50px];
  }

  input {
    @apply w-full bg-transparent rounded-none border-b-white border-b-2 focus-visible:outline-none block placeholder-white placeholder-opacity-60;
  }

  textarea {
    @apply placeholder-white p-3 w-full rounded-none focus-visible:outline-none placeholder-opacity-60;
  }

  .arrow {
    @apply w-[16px] md:w-[20px] absolute fill-gold top-[50%] -translate-y-[50%] cursor-pointer;
  }

  .main-menu {
    @apply transition duration-500 ease-in-out translate-x-full;
  }

  .bg-gradient {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.85) 0%,
      70%,
      rgba(0, 0, 0, 0)
    );

    @apply h-[25%] md:h-[150px] w-full pointer-events-none absolute top-0;
  }

  .bg-gradient-bottom {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0),
      70%,
      rgba(0, 0, 0, 1) 100%
    );
    @apply h-[10%] md:h-[150px] w-full pointer-events-none absolute bottom-0;
  }

  .close {
    position: absolute;
    right: 32px;
    z-index: 100;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.7;
    cursor: pointer;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before,
  .close:after {
    content: " ";
    @apply bg-gold absolute left-[15px] h-[33px] w-[3px];
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

  nav .close:before,
  nav .close:after {
    @apply bg-gold;
  }

  .solid {
    @apply bg-gold font-bold hover:bg-transparent;
  }

  .dots .dot {
    @apply h-[10px] w-[10px] bg-white mr-5 last:mr-0 rounded-full;
  }

  .activeMenuItem a {
    @apply text-gold;
  }

  .activeBrand {
    background: rgba(255, 255, 255, 0.1);
  }
  .activeBrand img {
    @apply grayscale-0;
  }

  div[brand_name]:hover img {
    @apply grayscale-0;
  }
}

.description p,
.description span,
.description div,
.description div span,
.description div p span,
.description div p {
  font-family: "Montserrat" !important;
  @apply !bg-transparent !text-white;
}

/* .main-menu-entering {
  @apply opacity-100 translate-x-0;
} */

.dot.active {
  @apply bg-gold;
}
.backdrop-exiting,
.backdrop-exited {
  @apply pointer-events-none opacity-0;
}

.main-menu-entering,
.main-menu-entered {
  @apply translate-x-0;
}

.modal-open nav,
.modal-open nav .bg-gradient {
  @apply md:pr-[17px];
}

.modal-backdrop {
  @apply w-screen h-screen left-0 top-0 fixed bg-black z-50 !opacity-[80%];
}

.lamborghini {
  @apply min-w-[90px] md:min-w-[140px] flex flex-col items-center;
}

.lamborghini img {
  @apply max-w-[64px] md:max-w-[104px];
}
